.Post {
  border: 1px solid #999;
  padding: 1em 1.5rem;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
.Post.view {
  margin-bottom: 2em;
}
.Post.list {
  cursor: pointer;
}
.Post .user-name {
  margin-left: 20px;
  position: relative;
}
.Post .user-name.view {
  font-size: 1.5rem;
  bottom: 60px;
}
.Post .user-name.list {
  font-size: 1.2rem;
  bottom: 25px;
}
.post-body {
  position: relative;
  color: #bbb;
  font-style: italic;
}
.post-body.view {
  margin-left: 100px;
  bottom: 25px;
}
.post-body.list {
  margin-left: 50px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 3) {
  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Post .user-name {
    margin: 0;
  }
  .Post .user-name.list,
  .Post .user-name.view {
    bottom: 0;
  }
  .post-body.list {
    margin: 0;
    margin-top: 1em;
  }
  .post-body.view {
    margin: 0;
    margin-top: 2em;
  }
}
